:root {
    --white: #fff;
    --background-main: #FF83BF;
    --grey-normal: #586870;
    --grey-light: #C0C6C9;
    --grey-scale: #ECECEC;
    --violet: #5957BA;
    --blue: #007AFF;
    --blue-light: #E4F0FF;
    --red-normal: #FF3D00;
    --red-light: #FFEFEF;

    --body-container-width: 760px;
    --body-container-height: 576px;

    --sidebar-button-width: 190px;
    --sidebar-button-height: 34px;

    --input-width: 256px;
    --input-height: 26px;
}