:root {
    --white: #fff;
    --background-main: #FF83BF;
    --grey-normal: #586870;
    --grey-light: #C0C6C9;
    --grey-scale: #ECECEC;
    --violet: #5957BA;
    --blue: #007AFF;
    --blue-light: #E4F0FF;

    --body-container-width: 760px;
    --body-container-height: 576px;

    --sidebar-button-medium-width: 190px;
    --sidebar-button-medium-height: 34px;
}