body {
    font-family: 'Poppins';
}

p {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--white);
}