.body {
    background: var(--background-main);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container styles */

.body__container {
    max-width: var(--body-container-width);
    max-height: var(--body-container-height);
    padding: 30px;
    border-radius: 32px;
}

.container_theme_dark {
    background: var(--grey-scale);
}

/* popup styles */

.container__popup {
    padding: 20px 40px;
    border-radius: 16px;
}

.container__message{
    display: none;
}

.popup {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.popup_theme_dark {
    box-shadow: 0px 5px 24px 0px rgba(117, 120, 139, 0.10);
    background: var(--white);
}

.content {
    display: flex;
    gap: 80px;
}

/* form styles */

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.register-form__button {
    height: 34px;
    border: none;
    background: var(--violet);
}

.confirm{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.confirm__check {
    margin-left: 2em;
}

/* sidebar styles */

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.terms-conditions-note {
    text-align: center;
    font-size: 0.625rem;
    color: var(--grey-normal);
    font-weight: 400;
}

.terms-conditions-note__underline {
    text-decoration: underline;
}

.sidebar__button {
    width: var(--sidebar-button-width);
    height: var(--sidebar-button-height);
    border: 1px solid var(--violet);
    color: var(--violet);
    background: var(--white);
}